<h2 style =" text-align : center ; background-color : yellow"> <새글 작성하기></h2>
<hr>
<br>
<form action="/posts/create" method="POST" enctype="multipart/form-data">

    <input type="text" name="title" placeholder="제목을 입력하세요">
        <br>
    <input type="text" name="content" placeholder="내용을 입력하세요">
        <br>
    <input type="file" name="pic">
        <br>
    <input type="submit" value="작성완료!">
    
</form>