
<h1 style=" color:green ; text-align :center" > 멋쟁이 사자처럼 대나무숲 </h1>
<a href="/posts/new"> 글 작성하기 </a>
<br>
<br>
<hr>

<% @posts.each do |p| %>
    <br>
        <a href="/posts/show/<%=p.id%>" style=" color:teal"> 제목  :   <%= p.title %></a>
    <br>
    <br>
        <%= p.content %>
    <br>
    
        <form  action="/posts/destroy/<%=p.id%>" method="post">
            <input type="submit" value ="삭제" style="color:maroon">
        </form>
    <hr>
<% end %>